// products card
<a href="/{{userinfo.username}}/Product/{{prodinfo.prodname}}">
    <div class="card">
        <img class="card-img-top" src={{prodinfo.prodimg}} alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"> {{prodinfo.prodname}} </h5>
            <p class="card-text">PHP <span> {{prodinfo.prodpric}} </span></p>
        </div>
    </div>
</a>